<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

</head>
<body>
    <h1>Main Page</h1>
    <form id="main-page" action="/task/" method="GET">  <!-- Редирект на /tasks/ -->
        <button type="submit">Create Task</button>
    </form>
    <br><br>
    <form id="get-by-id">
    <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">View Task</button>
        <br><br>
        {{ id }}<br>
        {{ name }}<br>
        {{ description }}<br>
    </form>
    <form id="delete-by-id">
    <label for="id1">ID:</label>
        <input type="text" id="id1" name="id1" required>
        <button type="submit">Delete Task</button>
        <br><br>
        {{ id }}<br>
        {{ name }}<br>
        {{ description }}<br>
    </form>
    <script>
        document.getElementById("get-by-id").addEventListener("submit", async function(event) {
            event.preventDefault(); // Prevent default form submission

            // Get form data
            const id = document.getElementById("id").value;



            // Send POST request with JSON data
            try {
                const response = await fetch(`/task/${id}`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${sessionStorage.getItem('access_token')}`
                    }
                });

                const result = await response.json();
                if (response.ok) {

                    // Redirect to main page
                    window.location.href = "/main"; // Redirect after successful registration
                } else {
                    alert(`Error: ${result.message}`);
                    console.log(result);
                }
            } catch (error) {
                alert('Error');
                console.log(error);
            }
        });
    </script>
</body>
</html>
