<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

</head>
<body>
    <h1>Main Page</h1>
    <form id="main-page" action="/task/" method="GET">  <!-- Редирект на /tasks/ -->
        <button type="submit">Create Task</button>
    </form>
    <br><br>

    <form id="get-by-id">
    <label for="id">ID:</label>
        <label for="id">Main</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">View Task</button>
<!--        <br><br>-->
<!--        {{ id }}<br>-->
<!--        {{ name }}<br>-->
<!--        {{ description }}<br>-->
    </form>


    <!-- Добавим блок для отображения данных задачи -->
    <div id="task-data">
        <p>ID: <span id="task-id"></span></p>
        <p>Name: <span id="task-name"></span></p>
        <p>Description: <span id="task-description"></span></p>
    </div>

    <form id="delete-by-id">
    <label for="id1">ID:</label>
        <input type="text" id="id1" name="id1" required>
        <button type="submit">Delete Task</button>
        <br><br>
    </form>

    <script>
        document.getElementById("get-by-id").addEventListener("submit", async function(event) {
            event.preventDefault();

            const id = document.getElementById("id").value;
            try {
                const response = await fetch(`/task/${id}`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${sessionStorage.getItem('access_token')}`
                    }
                });

                const contentType = response.headers.get('content-type');

                if (contentType && contentType.includes('application/json')) {
                    const result = await response.json();
                    if (response.ok) {
                        // Отображаем данные на странице
                        document.getElementById('task-id').textContent = result.id;
                        document.getElementById('task-name').textContent = result.name;
                        document.getElementById('task-description').textContent = result.description;
                    } else {
                        alert(`Error: ${result.detail}`);
                        console.log(result);
                    }
                } else if (contentType && contentType.includes('text/html')) {
                    // Если вдруг вернется HTML, можно заменить содержимое страницы:
                    const htmlText = await response.text();
                    document.open();
                    document.write(htmlText);
                    document.close();
                } else {
                    alert(`Error: ${result.message}`);
                    console.log(result);

                }
            } catch (error) {
                alert(`Error: ${error}, ${sessionStorage.getItem("access_token")}`);
                console.log(error);
            }
        });
    </script>
</body>
</html>
